<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SummIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('main.index') }}">
        {{ t('nav.home') }}
      </a>
      {% if g.user %}
        <a href="{{ url_for('main.doc') }}">
          {{ t('nav.documents') }}
        </a>
        {% if session.get('admin') %}
        <a href="{{ url_for('main.admin') }}">
          {{ t('nav.meeting_admin') }}
        </a>
        <a href="{{ url_for('main.liberation_admin') }}">
          {{ t('nav.liberation_admin') }}
        </a>
        {% endif %}
        <a href="{{ url_for('main.profile') }}">
          {{ t('nav.profile') }}
        </a>
        <a href="{{ url_for('auth.logout') }}">
          {{ t('nav.logout') }}
        </a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">
          {{ t('nav.login') }}
        </a>
      {% endif %}
      <span class="lang-switch">
        <a href="{{ url_for('main.set_language', lang_code='en') }}">EN</a>
        <a href="{{ url_for('main.set_language', lang_code='sv') }}">SV</a>
      </span>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>
