{% extends "base.html" %} {% block content %}
<div>
  <h3>{{ t('login.title') }}</h3>
  <div>
    <form action="{{ url_for('auth.authorize') }}" method="get">
      <div>
        <label>{{ t('login.extra_groups') }}</label>
        <div>
          <label>
            <input type="checkbox" name="extra_groups" value="digit" />
            digIT
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="extra_groups" value="styrit" />
            styrIT
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="extra_groups" value="motespresidit" />
            MötespresidIT
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="extra_groups" value="devit_ordf" />
            DevIT Ordf
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="extra_groups" value="devit_kass" />
            DevIT Kassör
          </label>
        </div>
      </div>

      <div>
        <div>
          <button
            type="submit"
          >
            {{ t('login.button') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
